In [ ]:
# 커피 자판기
# 남은 커피가 있으면 판매>판매>판매 더이상 커피가 없으면 판매 중지..

coffee = 10
money = 300

while money:
  print("커피를 판매합니다")
  coffee -= 1 # coffee = coffee -1
  print("남은 커피의 양은 %d개 입니다" %coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다")
    break

커피를 판매합니다
남은 커피의 양은 9개 입니다
커피를 판매합니다
남은 커피의 양은 8개 입니다
커피를 판매합니다
남은 커피의 양은 7개 입니다
커피를 판매합니다
남은 커피의 양은 6개 입니다
커피를 판매합니다
남은 커피의 양은 5개 입니다
커피를 판매합니다
남은 커피의 양은 4개 입니다
커피를 판매합니다
남은 커피의 양은 3개 입니다
커피를 판매합니다
남은 커피의 양은 2개 입니다
커피를 판매합니다
남은 커피의 양은 1개 입니다
커피를 판매합니다
남은 커피의 양은 0개 입니다
커피가 다 떨어졌습니다. 판매를 중지합니다

In [ ]:
coffee = 10
while True:
  money =int(input("돈을 넣어주세요:"))
  if mon7ey == 300:
    print("커피를 한잔 드립니다")
    coffee -= 1
  elif money > 300:
    print("거스름돈 %d 원과 커피를 드립니다." %(money-300))
    coffee -= 1
  else:
    print("돈이 부족합니다. 커피는 드릴수 없습니다.")
    print("남은 커피의 양은 %d개 입니다" %coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

돈을 넣어주세요:300
커피를 한잔 드립니다
돈을 넣어주세요:400
거스름돈 100 원과 커피를 드립니다.
돈을 넣어주세요:200
돈이 부족합니다. 커피는 드릴수 없습니다.
남은 커피의 양은 8개 입니다
돈을 넣어주세요:300
커피를 한잔 드립니다
돈을 넣어주세요:300
커피를 한잔 드립니다
돈을 넣어주세요:500
거스름돈 200 원과 커피를 드립니다.
돈을 넣어주세요:600
거스름돈 300 원과 커피를 드립니다.
돈을 넣어주세요:00
돈이 부족합니다. 커피는 드릴수 없습니다.
남은 커피의 양은 4개 입니다
돈을 넣어주세요:770
거스름돈 470 원과 커피를 드립니다.
돈을 넣어주세요:230
돈이 부족합니다. 커피는 드릴수 없습니다.
남은 커피의 양은 3개 입니다
돈을 넣어주세요:100
돈이 부족합니다. 커피는 드릴수 없습니다.
남은 커피의 양은 3개 입니다
돈을 넣어주세요:203
돈이 부족합니다. 커피는 드릴수 없습니다.
남은 커피의 양은 3개 입니다
돈을 넣어주세요:303
거스름돈 3 원과 커피를 드립니다.
돈을 넣어주세요:300
커피를 한잔 드립니다
돈을 넣어주세요:400
거스름돈 100 원과 커피를 드립니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
a = 0
while a < 10:
  a += 1
  if a% 2 == 0 : continue
  print(a)

1
3
5
7
9

In [ ]:
# For 반복문

# 파이썬의 직관적인 특징을 잘 보여주는 것이 FOR문이다.
# while문과 비슷하지만 for문은 매우 많이 사용되고 문장 구조가 한눈에 파악하기 쉽다.

list = [1,2,3,4,5]
for i in list:
  print(i)

1
2
3
4
5

In [ ]:
a = [(1,2),(3,4),(5,6)]
for x, y in a:
  print(x,y)

1 2
3 4
5 6

In [ ]:
# 5명의 학생 점수에서 60점이 이상이면 합격 아니면 불합격을 출력하세요.

score = [90,70,50,40,80]
n = 0
for i in score:
  n+=1
  if i >= 60:
    print("%d번 학생은 합격입니다"%n)
  else:
    print("%d번 학생은 불합격입니다"%n)

#출력예제 1번 학생은 합격입니다 4번 학생은 불합격입니다 등등

1번 학생은 합격입니다
2번 학생은 합격입니다
3번 학생은 불합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

In [ ]:
score = [90,70,50,40,80]
n = 0
for i in score:
  n+=1
  if i < 60: continue
  print("%d번 학생은 합격입니다"%n)

1번 학생은 합격입니다
2번 학생은 합격입니다
5번 학생은 합격입니다

In [ ]:
# range 함수와 for문
# range (start, stop. step)  start를 생략하면 0부터, step을 생략하면 1씩증가

add = 0

for i in range(1, 11):
  add += i
  print(add)

1
3
6
10
15
21
28
36
45
55

In [ ]:
# for 문과 range를 이용해서 구구단을 표시하세요 . hint for문을 2번사용
# 2,4,6,8,10...16,18
# .
# .
# .
# .9,18,27,36,81

for i in range(2,9):
  for j in range(1,10):
    print(i*j,end=" ")
  print("")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72

In [ ]:
# List comprehension (리스트 내포)

# without..
a = [1,2,3,4]
result = []

for n in a:
  result.append(n*3)

print(result)

[3, 6, 9, 12]

In [ ]:
# with

a = [1,2,3,4]
result = [n * 3 for n in a if n %2 == 0]
print(result)

[6, 12]

In [ ]:
#for문을 사용해서 1부터 100까지의 자연수중 짝수 합을 계산 하라
sum=0

for i in range(1,101):
 if i%2 == 0:
   sum+=i
print(sum)

2550

In [ ]:
#while을 사용해서 아래 그림을 표시하세요
# for n in range(1,6):
#   print(n* '*')
a=0
while(a<6):
  a+=1
  print("*" *a)

*
**
***
****
*****
******

In [ ]:
# for문을 사용하여
# 총 10명의 학생들의 중간고사의 평균 점수를 구하세요

In [ ]:
score = [70,60,55,75,95,90,80,80,85,100]
sum = 0
for i in score:
  sum+=i
print(sum/len(score))

79.0

In [ ]:
#리스트에서 홀수만 2를 곱하여 result 리스트로 저장
n = [1,2,3,4,5]
result = [a*2 for a in n if a%2!=0]
print(result)

[2, 6, 10]

**함수란**

과일 -> 믹서기 -> 과일주스
바나나 -> 믹서기 -> 바나나주스
사과 -> 믹서기 -> 사과주스

왜!!
항상 반복되는 코드를 매번 작성하는 것보다
그것들을 묶어서 함수로 만들면 쉽고 편하게 재활용 할 수 있다.

기본형

def 함수명 ( 변수 )
  수행
  수행
  수행
  return 값

.def add(a,b): return a+b
이함수의 이름은 add이고 입력으로 2개의 값을 받아서 그 두개를 더한다

In [ ]:
# 1. 입력값도 있고 출력값도 있는 함수 ***
def add(a,b):   #a,b    매개변수 (진짜 값을 받는 변수)
  return a+b


c=  add(3,4)   #3,4    인수  (진짜 들어가는 값)
c

7

In [ ]:
#* 4가지 함수의 형태

1. 입력값도 있고 출력값도 있는 함수 ***
2. 입력값은 있고 출력값은 없는 함수
3. 입력값은 없고 출력값은 있는 함수
4. 입력값도 없고 출력값도 없는 함수

In [ ]:
# 2. 입력값은 있고 출력값은 없는 함수

def say(a):
  print(a)

print(say('hi'))

hi
None

In [ ]:
# 3. 입력값은 없고 출력값은 있는 함수

def say():
  return 'Hi'

say()

'Hi'

In [ ]:
# 4. 입력값도 없고 출력값도 없는 함수
def say():
  print('Hi')

say()

hi

In [ ]:
def add(a,b):
  return a+b

r= add(b=5,a=3)
r

8

In [ ]:
# 입력이 몇개가 될지 모를때!!!!!!!!!!!!!

def add_many(*args):
  result = 0
  for i in args:
    result = result + i
  return result

add_many(1,2,3,4,5,6,7,8,9)

<function add_many at 0x7f0155495050>

In [ ]:
# 함수의 결과값은 언제나 하나이다.

def add_mul(a,b):
  return a+b, a*b

result = add_mul(3,4)
print(result)

# 튜플값 하나로 반환된다.

(7, 12)

In [ ]:
result1, result2 = add_mul(3,4)
print(result1)
print(result2)

12

In [ ]:
def add_mul(a,b):
  return a+b
  return a*b

result = add_mul(3,4)
print(result)

7

In [ ]:
def say (name, age, man=True):
  print("나의 이름은 %s 입니다" %name, end=" ")
  print("나이는 %d 살 입니다" %age, end=" ")
  if man:
    print("남자 입니다.")
  else:
    print("여자 입니다.")
say("김정철", 34)
#say("성춘향",33,False)

#초기값 설정은 항상 끝에 한다.
print(say("임",33,False))

나의 이름은 김정철 입니다 나이는 34 살 입니다 남자 입니다.
나의 이름은 임 입니다 나이는 33 살 입니다 여자 입니다.
None

In [ ]:
#g함수에서 선언하 변수의 효력 범위..

a=1
def vartest(a):
  a = a + 1 
  print(a)

vartest(a)
print(a)


#당연히 변수 값에 1을 더했으니 2가 출력될 것으로 보였지만 결과는 1이 나온다.
#그 이유는 함수 안에서 새로 만든 매개 변수는 함수 안에서만 사용하는 함수만의 변수 이다.
#함수는 지역변수 (local) , 전역변수 global

2
1

In [ ]:
def vartest(z):
  z = z+1

vartest(3)
print(z)

#함수 안에서 선언한 매개변수는 함수 안에서만 사용된다! 아주아주 중요!!!!!!!!!

NameError: ignored

In [ ]:
z=1
def vartest(z):
  z= z+1
  return z

g = vartest(z)
print(g)

2

In [ ]:
a = 1
def vartest():
  global a
  a = a+1

vartest()
print(a)
# 전역 변수 선언은 함수 밖에서도 직접 사용하겠다는 의미
# 전역 변수는 사용하지 않는 것이 좋다.

#람다....lamda....
#def와 동일한 역할을 한다.
#보통 함수를 한줄로 간단하게 만들때 사용한다.

2

In [ ]:
def add(a,b):
  return a+b

r = add(3,4)
print(r)
print("----하단은 람다로 구현----")
#---------------- 
add = lambda a, b: a+b    #lambda 변수 1, 변수2 ...: 변수를 이용한 식
r = add(3,4)
print(r)

7
----하단 람다----
7

In [ ]:
#사용자 입출력 (input / print)

a = input()
type(a)

#input으로 입력 받는 모든 값은 일단 str
#계산을 위하여 형변환을 해줘야한다

3

str

In [ ]:
a = int(input())
type(a)

123

int

In [ ]:
#숫자를 입력받아서 그 숫자가 홀수 있지 짝수 인지 판별해주는  함수를 만들어 보자


def hol(a):
  if (a%2 == 1):
    print("홀수")
  else:
    print("짝수")

hol(int(input()))

3
홀수

In [ ]:
#입력으로 들어오는 모든 수의 평균을 계산하는 함수(입력개수는 미지정)

def many(*args):
  sum = 0
  for i in args:
    sum = sum + i
  return sum/len(args)

print(many(1,2,3))
print(many(1,2,3,4,5))

2.0
3.0

In [ ]:
def add_mul(a, *args):
  if a == "add":
    result = 0
    for i in args:
      result += i
  elif a == "mul":
    result = 1
    for i in args:
      result *=i
  return result


print(add_mul('add',int(input()),int(input()),int(input()),int(input())))
print(add_mul('mul',1,2,3,4,5))

1
2
3
4
10
120

In [ ]:
# 파일 읽고 쓰기

# 파일 생성

f = open ("파일이름.txt", 'w')
f.close()

# w쓰기  r읽기  a추가

In [ ]:
f = open("새파일.txt", 'w')
for i in range(1,11):
  data = "%d번째 줄입니다. \n" % i
  f.write(data)
f.close()

In [ ]:
f = open("새파일.txt", 'r')

while True:
  line = f.readline()
  print(line)
  if not line : break

f.close()

In [ ]:
# readlines()

f = open("새파일.txt", 'r')
lines = f.readlines()
for line in lines:
  print(line)

f.close()

#readlines함수는 파일의 모든 줄을 다 읽어서 각각의 줄을 요소로 하는 리스트로 돌려준다.

In [ ]:
#readlines()
f = open("새파일.txt", 'r')
lines = f.readlines()
for line in lines:
  line = line.strip()
  print(line)

f.close()

In [ ]:
#read()

f = open("새파일.txt", 'r')
lines = f.read()
print(lines)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [ ]:
f=open("새파일.txt",'a')
for i in range(11,20):
  data = "%d번째 줄입니다. \n"%i
  f.write(data)
f.close()

In [ ]:
#read()

f = open("새파일.txt", 'r')
lines = f.read()
print(lines)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.

In [ ]:
# with
# 파일을 사용 후에는 항상 닫아줘야 한다.
# 자동으로 닫으면 편하다

with open("새파일.txt","w") as f:
  f.write("No pain ni gain")

In [ ]:
#두 수를 입력받아 합계를 계산

input1 = 
intput2 =

첫번째 숫자 :
두번째 숫자 :
두수의 합은??입니다.

In [ ]:
print("첫번째 숫자 :",end="")
x = int(input())
print("두번째 숫자 :",end="")
y = int(input())

print("두수의 합은",x+y,"입니다")

첫번째 숫자 :5
두번째 숫자 :10
두수의 합은 15 입니다

In [ ]:
# class ....
# C 언어에는 클래스가 없다. 객체 지향이 없다 
# 클래스는 반드시 필요한 것은 아니지만
# 사용한다면 얻을수 있는 이익이 상당하다

In [ ]:
# 계산기

result1 = 0
result2 = 0

def add1(num):
  global result1   #이전에 계산 값을 유지하기 위해 전역 변수 사용
  result1 += num
  return result1

def add2(num):
  global result2   #이전에 계산 값을 유지하기 위해 전역 변수 사용
  result2 += num
  return result2

print(add1(3))
print(add1(4))
print(add1(5))
print()
print(add2(1))
print(add2(2))
print(add2(3))

3
7
12

1
3
6

In [ ]:
class Calculator:
  def __init__(self): # 생성자
    self.result = 0

  def add(self, num):
    self.result += num
    return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal1.add(5))
print()
print()
print(cal2.add(5))
print(cal2.add(7))
print(cal2.add(10))

3
7
12


5
12
22

In [ ]:
# 복습라인
# 주어진 수가 홀수 인지 짝수인지 판별하는 함수

def text(x):
  if x%2 == 0:
    return print('입력하신 숫자값은 짝수입니다')
  else:
    return print('입력하신 숫자값은 홀수입니다')
  return x
print(text(int(input())))

23
입력하신 숫자값은 홀수입니다
None

In [ ]:
# 입력값 두개를 받아 합계를 반환해주자
num1 = int(input("첫번째 숫자를 입력하세요 : "))
num2 = int(input("두번째 숫자를 입력하세요 : "))
print("입력값의 합은 ", num1+num2, "입니다")

첫번째 숫자를 입력하세요 : 123
두번째 숫자를 입력하세요 : 123
입력값의 합은  246 입니다

In [ ]:
f1 = open("test.txt", 'w')
f1.write("Life is too short")

f1 = open("test.txt", 'r')
print(f1.read())

Life is too short

In [ ]:
with open("test.txt", 'a') as f:
  user_input = input("저장할 내용을 입력하세요:")
  f.write(user_input)
  f.write('\n')

저장할 내용을 입력하세요:123123