1. 파이썬이란..
  1990년 귀도 반 로섬이 개발한 인터프리터 언어..(!= 컴파일러)
  코미디 쇼에 나오는 제목에서 따왔다.
  사전적인 의미는 고대 신화에 나오는 동굴에 살던 큰 뱀
  아폴로 신이 파이썬을 퇴치했다는 이야기가 전해진다.
  프로그래밍 교육을 위해서 많이 사용되며 동시에 기업의 실무에서도 많이 사용된다. (!=베이직)
  구글의 소프트웨어의 50% 이상이 파이썬으로 작성되었다.
  그외에도 인스타그램 , 드랍박스등이 파이썬으로 작성.
파이썬은 공동작업과 유지보수가 매우 쉽고 편하다. 이미 다른 언어로 작성된 프로그램들이 파이썬으로 재구성 되고 있다.

2. 파이썬의 특징
  1. 파이썬은 인간다운 언어이다.
  2. 파이썬은 문법이 쉬워 빠르게 배울수 있다.
  3. 파이썬은 무료이지만 강력하다.
  4. 파이썬은 간결하다.
  5. 파이썬은 프로그래밍을 즐기게 해준다
  6. 파이썬은 개발 속도가 빠르다.
    Life too short you need python...

3. 파이썬으로 할 수 있는 것
  1. 시스템 유틸리티 (조금약하지만 가능)
  2. GUI 프로그래밍 (pyqt)
  3. C , C++ 결합 쉬움 (glue 언어)
  4. 웹 프로그래밍 ( flask, django )
  5. 수치연산 ( Numpy )
  6. Database (Oracle , MySQL, MariaDB )
  7. 데이터분석 (Pandas) (*강력함)
  -시스템 밀접한 하드웨어, 모바일(안드로이드 , 아이폰..) 잘 못함

 2. 자료형
  **리스트, 튜플, 딕셔너리, 셋 ....**
  어떤 프로그래밍 언어든 그 언어의 자료형을 알고 이해할수 있다면 그 언어의 절반을 터득한 것이다.
  프로그램의 기본이자 핵심 단위이다.
  자료형을 충분히 이해하지 않고 프로그래밍을 시작하는 것은 기초공사가 마무리 되지 않은 상태에서 건물을 세우는 것과 같다.

In [ ]:
# 숫자형 : 숫자 형태로 이루어진 자료형 1,2,3 정수 // 12.3 , 3.14 실수
# 정수형
a = 123
print(a)
b= 3.14
print(b)

c="HI"
print(c)

123
3.14
HI

In [ ]:
# 숫자형 연산
a = 3
b = 4
print(a+b)

7

In [ ]:
b % a # 몫은 버리고 나머지만 취하는 연산자..홀수 / 짝수 / 배수

1

In [ ]:
a == b

False

In [ ]:
a != b

True

In [ ]:
# 문자열 자료형 String

a = "Hello World"
a

'Hello World'

In [ ]:
a = 'Hello World'
a

'Hello World'

In [ ]:
''' hello World '''

' hello World '

In [ ]:
a= "Python's"
print(a)

Python's

In [ ]:
a = 'Python\'s'
print(a)

Python's

In [ ]:
a = '''
Hello
World
!!!!
'''
print(a)

Hello
World
!!!!

In [ ]:
a = 'Hello\nWorld'
print(a)

Hello
World

In [ ]:
# 리스트 자료형
# 홀수들의 합을 계산 a=1,b=3,c=5
# 리스트는 불편함을 해소.. 여러개의 자료를 하나로 묶어 관리.
# 컨트롤+ / 하면 주석(여러개) 처리가능
z = []
z = [1,3,5,7,9]
z = ['a','b','c']
z = [1,2,'a','b']
print(z[0])
# 자료형에서 데이터를 꺼내 쓰는 방법
# 인덱싱 - 한개씩 꺼내는 방법
# 슬라이싱 - 여러개를 한번에

print(z[-1]) #마지막이 나오는
print(z[-2]) #마지막에서 두번째
print(z[0]+z[1]) #연산가능
print('------슬라이싱-------')
#슬라이싱  [이상 : ~미만]
print(z[0:3])
print(z[:2])
print(z[2:])
print('------문자열에서도 동일-----')
# 문자열
a= '12345'
print(a[2])
print(a[:4])

1
b
a
3
------슬라이싱-------
[1, 2, 'a']
[1, 2]
['a', 'b']
------문자열에서도 동일-----
3
1234

In [ ]:
a = [1,2,3]
b = [4,5,6]
print(a+b)
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a = [1,2,3]
print(len(a)) #length

3

In [ ]:
#리스트에서는 수정과 삭제 가능하다 => mutable (* 튜플은 수정과 삭제가 불가능 하다 => immutable)

a= [1,2,3]
a[2] = 4 # 2번째에 들어가있는 수를 4로 바꿔라
print(a) 
del a[1] # 1번째에 들어가있는 수를 지워라
print(a)

[1, 2, 4]
[1, 4]

In [ ]:
# 리스트 관련 함수 정리
# append 리스트의 마지막에 요소를 추가

a=[1,2,3]
a.append(4)
print(a)
a.append([5,6]) # 리스트안에 리스트를 둘수 있다.
print(a)
a.append('HelloWorld') #문자도 추가 가능
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4, [5, 6], 'HelloWorld']

In [ ]:
# sort - 리스트의 요소를 순서대로 정렬
a= [1,7,3,6,5]
a.sort()  #정렬
print(a)
b = ['a','t','b','h']
b.sort()
print(b)

a.reverse() #역순정렬
print(a)

[1, 3, 5, 6, 7]
['a', 'b', 'h', 't']
[7, 6, 5, 3, 1]

In [ ]:
# index 위치값을 반환

a = [1,3,4]
a.index(3)
#없는 값은 에러남

1

In [ ]:
#insert 리스트의 특정위치에 삽입
a =[1,2,3]
a.insert(0,4) #0번째에 4를 집어 넣어라
print(a)

[4, 1, 2, 3]

In [ ]:
# remove 리스트의 첫번째로 나오는 값을 삭제
a = [1,3,4,1,2,4]
a.remove(4)  #처음나오는 값(4)를 삭제
print(a)

[1, 3, 1, 2, 4]

In [ ]:
#pop 끝에 위치한 항목을 삭제한다

a=[1,2,3,4]
a.pop()
a.pop()
print(a)

[1, 2]

In [ ]:
# count 리스트에서 특정원소가 몇개 있는지 확인
a=[1,2,3,4,5,4,3,8,4]
a.count(4) # 값이 몇개인지 센다

3

In [ ]:
#extend 리스트에 리스트를 더한다
a= [1,2,3]
a.extend([4,5])
print(a)

[1, 2, 3, 4, 5]

In [ ]:
# 튜플 (튜플은 수정과 삭제가 불가능하다. immutable)

# 튜플은 리스트와 거의 비슷하다

# 1.리스트는 [] 튜플 ()
# 2. 리스트는 수정삭제가능 / 튜플은 수정삭제 불가

#튜플은 프로그램 실행되는 동안 그 값이 항상 변하지 않기를 바란다거나 값이 바뀔까 걱정하고싶지 않을때 사용.

In [ ]:
t1 = ()
t2 = (1,) #튜플은 원소를 하나만 담을 때는 쉼표를 붙인다.  튜플은 괄호 생략이 가능하다.
t3 = 1,  # 괄호를 생략가능하지만 변수를 담는것과 다르게  쉼표를 붙여야지 튜플로 인지한다
t4 = 1,2,3,4  #하지만 정석은 괄호가 있어야함.
t5 = ('a','b','c','d')

In [ ]:
t1 = (1,2,'a','b')
del t1[0] # 삭제 에러사항

TypeError: ignored

In [ ]:
t1=(1,2,'a','b')
t1[0]= 'c' #추가 삭제 수정은 에러사항

TypeError: ignored

In [ ]:
# 튜플에서 인덱싱
t1=(1,2,'a','b')
t1[0]

1

In [ ]:
#튜플에서의 슬라이싱
t1=(1,2,'a','b')
t1[0:]

(1, 2, 'a', 'b')

In [ ]:
t1=(1,2,'a','b')
t2=(3,4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

In [ ]:
t1=(1,2,'a','b')
t1*3

(1, 2, 'a', 'b', 1, 2, 'a', 'b', 1, 2, 'a', 'b')

In [ ]:
len(t1)

4

 **딕셔너리**
 이름=홍길동 , 나이=15 , 성별=남자 ,대응관계를 나타낼 수 있는 자료형
 다른 언어에서는 map. hash 등으로 명명하지만
 파이썬에서는 키와 벨류 값으로 구성된 모습을 딕셔너리라한다.

-특징-
1. 딕셔너리는 인덱싱과 슬라이싱 불가능
2. 수정 편집 가능 mutable
3. 중괄호 {} ([]리스트 ()튜플 )
4.

In [ ]:
dic = {'name':'pey', 'phone':'01011110000', 'birth':'1119'}

print(dic)

{'name': 'pey', 'phone': '01011110000', 'birth': '1119'}

In [ ]:
a = {'b':[1,2,3]}
a

{'b': [1, 2, 3]}

In [ ]:
a = {1:'a' , 2:'b'}
a[5]='c' # 5라는 키값으로 b라는 벨류값을 넣는다
a

{1: 'a', 2: 'b', 5: 'c'}

In [ ]:
a['name'] = 'pey' #문자열도 넣기 가능
a

{1: 'a', 2: 'b', 5: 'c', 'name': 'pey'}

In [ ]:
del a[1] #1이라는 키값 삭제 가능 #주의해야 할 점은 요소 삭제 인것
a

{2: 'b', 5: 'c', 'name': 'pey'}

In [ ]:
# 딕셔너리로 Key값을 이용해서 value 값을 가져오기 #
grade = {'pey':10 , 'julliet':9}
grade['pey']

10

In [ ]:
# 딕셔너리 사용시 주의사항.. 
#1. key 값이 고유한 값을 사용하기 때문에 중복되는 키값을 설정하면 하나를 제외한 나머지 모든것들은 무시된다.
a = {1:'a' , 1:'b'}
a #키값 한개 출력됨

{1: 'b'}

In [ ]:
#2. key값에 리스트는 사용할 수 없다. Tuple은 키값으로 사용할 수 있다.
#  리스트는 그 값이 변할 수 있기 때문에 key로 쓸수 없다.
a = {[1,2]:'hi'}
a

TypeError: ignored

In [ ]:
a = {(1,2):'hi'} # 튜플은 고정이기때문에 가능!
a

{(1, 2): 'hi'}

In [ ]:
# 딕셔너리에서 많이 사용 되는 함수들
# keys

a = {1:'a',2:'b',3:'c'}
a.keys()

dict_keys([1, 2, 3])

In [ ]:
#values
a = {1:'a',2:'b',3:'c'}
a.values()

dict_values(['a', 'b', 'c'])

In [ ]:
#items
a = {1:'a',2:'b',3:'c'}
a.items()

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

In [ ]:
#in
a = {1:'a',2:'b',3:'c'}
1 in a

True

In [ ]:
# Set (집합)
# 중복을 허용하지 않는다.
# 순서가 없다. (인덱싱, 슬라이싱 불가능)
# 리스트나 튜플은 순서가 있기 때문에 ordered 인덱싱을 통해 값을 얻을 수 있다.
# 중복을 허용 하지 않는 set의 특징으로 자료형의 중복을 제거 하기 위한 필터 역할로 사용된다.


s1 = set([1,2,3])
print(s1)
s2 = set("Hello")
print(s2)

{1, 2, 3}
{'o', 'l', 'e', 'H'}

In [ ]:
s1 = set([1,2,3])
s1
type(s1)

{1, 2, 3}

In [ ]:
l1 = list(s1)
l1
type(l1)

[1, 2, 3]

In [ ]:
# 교집합 합집합 차집합

s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

#1. 교집합
print(s1 & s2)
s1.intersection(s2)

{4, 5, 6}

{4, 5, 6}

In [ ]:
#2. 합집합
print(s1 | s2)
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#3. 차집합
s1 - s2

{1, 2, 3}

In [ ]:
s2 - s1

{7, 8, 9}

In [ ]:
# 집합 관련 함수들..

#add 1개 추가

s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [ ]:
#update 여러개 추가

s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [ ]:
# remove 특정값 제거

s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

In [ ]:
# Bool 자료형 boolean 참 True 거짓 False ( 첫문자는 반드시 대문자 )
a = True
b = False
type(a)

bool

In [ ]:
a == b

False

In [ ]:
a != b

True

In [ ]:
2 > 1

True

In [ ]:
"", [] ,() ,{} , None, 0 -> 거짓

In [ ]:
a = [1,2,3,4]
while a:
   print(a.pop())

4
3
2
1

In [ ]:
if[]:
  print("참")
else:
  print("거짓")

참

In [ ]:
# 자료형 총정리
# 가장 기본이 되는 자료형, 숫자, 문자열, 리스트, 튜플, 딕셔너리, 집합, 불
# 여기까지 50% 그만큼 중요하다.
# 데이터 프레임(pandas)

In [ ]:
# 변수  어떤 값이 들어가 있는 메모리의 위치를 가리킨다.
#        다른 언어에서는 자료형을 직접 지정해줘야하지만 파이썬은 스스로 판단해서 저장한다.

a = 1
b = 'python'

id(a)

94635747756544

In [ ]:
id(b)

139901792733168

In [ ]:
a = [1,2,3]
b = a
print(id(a))
print(id(b))

139901105975616
139901105975616

In [ ]:
a is b #a와b가 가리키는 객체가 같은거니?

True

In [ ]:
a[1] = 4
a

[1, 4, 3]

In [ ]:
b

[1, 4, 3]

In [ ]:
a= [1,2,3]
b = a[:]
a[1] = 4
a

[1, 4, 3]

In [ ]:
b

[1, 2, 3]

In [ ]:
id(a)

139901098732272

In [ ]:
id(b)

139901098714848

In [ ]:
from copy import copy
a = [1,2,3]
b = copy(a)

In [ ]:
b is a

False

In [ ]:
id(a)

139901098472624

In [ ]:
id(b)

139901098681520

In [ ]:
a, b = ('python', 'great')

'great'

In [ ]:
(a,b) = 'python', 'great'

In [ ]:
a = b = 'python'

'python'

In [ ]:
a = 5
b = 10

#ab값을 서로 바꾸고 싶으면 (자바 와 C 는  임시 변수로 지정)
# t = a
# a = b
# b = t

#파이썬에서는 아래와같은 방식이 정리가 가능하다
a, b = b, a

5

In [ ]:
# 문제 풀기..

#1. 정수 13이 홀수 인지 짝수인지 어떻게 판별할수 있을까
13%2

1

In [ ]:
#어떤수가 어떤수의 배수인지 어떻게 판별할수 있을까..
9%3
9%5
# 나머지 연산자로 몫이 0일경우엔 배수이고 그외의 숫자가 나온다면 배수가 아니겠지

4

In [ ]:
#홍길동 학생의 주민번호가 881120-1073834
#1. 생년월일만 출력
#2. 뒷자리 7개만 출력
#3. 성별을 나타내는 숫자를 출력
hong = '881120-1073834'
birth = hong[:6]
num = hong[7:]
hong[7]

'1'

In [ ]:
a = ['life','is','too','short'] #한문장으로 만들어 보자..
result = " ".join(a)
result

'life is too short'

In [ ]:
a = (1,2,3)
print(id(a))
a = a+(4,) #튜플 자료형에 1개의 원소만 나타낼 때는 쉼표를 붙인다!
print(id(a))

139901098801344
139901098495632

In [ ]:
id(a)

139901098493136

In [ ]:
# if
# 자료형은 나무 돌 시멘트 같은 재료이고
# 제어문은 철근같은 건물의 뼈대
# 참과 거짓을 판단한다..

money = True

if money:
  print("택시를 타자")
else:
  print("걸어 가자")

택시를 타자

In [ ]:
# 비교 연산자.
x,y = 1,2 
x < y
x > y
x == y
x != y
x >= y
x <= y 

x or y
x and y

3

In [ ]:
money = 2000
card = True

if money >= 3000 or card:
  print("택시")
else:
  print("걷기")

택시

In [ ]:
pocket = ['paper', 'cellphone','money']
if 'money' not in pocket:
  print('택시')
else:
  print('걷기')

택시

In [ ]:
pocket = ['paper', 'cellphone']
card = False
if 'money' in pocket:
  print('택시')
elif card: 
  print('택시')
else:
  print('걷기')

  #즉, elif는 이전 조건문이 거짓을때 수행된다.

걷기

In [ ]:
#점수가 90 이상이면 'A' , 80 이상이면 'B' , 70 이상이면 'C' , 60 이상이면 'D', 나머지는 전부 F

score = 

if score >= 90 :
  print("A")
elif score >= 80 :
  print("B")
elif score >= 70 :
  print("C")
elif score >= 60 :
  print("D")
else:
  print("F")

B

In [ ]:
# 반복문 
# while (반복횟수가 명확하지 않을 때 , 10시까지 운동장 돌아랏)
# for (반복횟수가 명확 할 때 , 운동장을 20바퀴 돌아라) ***

# while

n = 1
while n < 10:
  print(n)
  n = n+1

1
2
3
4
5
6
7
8
9

In [ ]:
n = 0
while n < 10:
  n += 1        # n = n + 1
  print("나무를 %d번 찍었습니다." %n) # print("나무를 ", n , "번 찍엇습니다.")
  if n == 10:
    print("나무 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [ ]:
 p = '''
 1.Add
 2.Del
 3.List
 4.Quit

 Enter number : '''     #아까 배운 ''' 이용해서 안에 입력 해놓고

n = 0
while n != 4:
  print(p)
  n = int(input())
  #input()으로 입력 받은 모든 값은 문자이기때문에 형변환 시켜줘야 한다.

1.Add
2.Del
3.List
4.Quit

Enter number :
4

In [ ]:
# while 문을 사용하여 1부터 1000까지의 수중 3의 배수의 합을 구해보자

n = 0
sum = 0
while n<=1000:
  n+=1
  if(n%3==0):
    sum +=n
print(sum)

166833

In [ ]:
print('Hello World')

Hello World

In [ ]:
print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
  print("김씨가 소리를 질렀다. \"도둑이야\".")

김씨가 소리를 질렀다. "도둑이야".

In [ ]:
print("\"C:\Windows\"")

"C:\Windows"

In [ ]:
\n은 줄바꿈 \t는 띄어쓰기 문장입니다
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [ ]:
print("오늘은","일요일")

오늘은 일요일

In [ ]:
print("naver;kakao;sk;samsung")
a = ['naver','kakako','sk','samsung']
result = ";".join(a)
print(result)

naver;kakao;sk;samsung
naver;kakako;sk;samsung

In [ ]:
print("first",end= ' ');print("second")

first second

In [ ]:
a =5
b = 3
x = a/b
y = a%b
print("5/3 의 몫은 ",x, "나머지는 ",y)

5/3 의 몫은  1.6666666666666667 나머지는  2

In [ ]:
samsung = 50000
juju = 10
avg = samsung * juju / juju
print(avg)

50000.0

In [ ]:
total = 2980000000000
now = 50000
per = 15.79

In [ ]:
8

In [ ]:
string

str

In [ ]:
aaa= "15.79"
b=float(aaa)
print(b)

15.79